body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

.make-flex {
  display: flex;
}

.commes {
  margin-top: 30px;
  max-height: 100px !important;
  overflow-y: scroll;
}
